# Your .env.dev file will look like this
DATABASE_URL=jdbc:postgresql://localhost:5432/swiftpass
DATABASE_USER="YOUR_DATABASE_USER"
DATABASE_PASSWORD="YOUR_DATABASE_PASSWORD"

GOOGLE_CLIENT_ID="YOUR_GOOGLE_OAUTH_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_OAUTH_CLIENT_SECRET"

STRIPE_SECRET_KEY="YOUR_STRIPE_TEST_SECRET_KEY"
STRIPE_WEBHOOK_SECRET="YOUR_STRIPE_WEBHOOK_SIGNING_SECRET"